<template>
    <div id="app-container" class="app-container">
        <router-view></router-view>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Vuetify from 'vuetify'
    Vue.use(Vuetify)

    export default {
        mounted() {
            console.log('Main App Component mounted.')
        }
    }
</script>

