<template>
    <div id="contact" class="contact">
        <h1>{{ title }}</h1>
    </div>
</template>

<script>
    export default {
        name: 'Contact',
        data() {
            return {
                'title': 'Contact Page'
            }
        },
        computed: {

        },
        watch: {

        },
        methods: {
            test() {
                console.log(this.title + ' is now mounted')
            }
        },
        mounted() {
            this.test()
        }
    }
</script>