<template>
    <div id="home" class="home">
        <v-container fluid>
            <v-layout row wrap>
                <v-flex d-flex md4>
                    <v-form ref="form" lazy-validation>
                        <v-text-field
                            v-model="name"
                            label="Name"
                            outline></v-text-field>
                        <v-text-field
                            v-model="email"
                            label="E-mail"
                            outline></v-text-field>
                        <v-text-field
                            v-model="password"
                            label="Password"
                            :type="'password'"
                            outline></v-text-field>
                        <v-btn @click="createUser">
                            Submit
                        </v-btn>
                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: 'Home',
        data() {
            return {
                title: 'Home Page',
                name: null,
                email: null,
                password: null
            }
        },
        computed: {

        },
        watch: {

        },
        methods: {
            createUser() {
                axios.get('/api/v1/user/register', {
                    params: {
                        name: this.name,
                        email: this.email,
                        password: this.password
                    }
                }).then( response => {
                    if( response.data.status === 'ok' ) {
                        Echo.channel( 'UserRegisteredChannel' )
                            .listen( 'Registered', (e) => {
                                console.log(e)
                            })
                        this.reset()
                    }
                })
            },
            retrieveUser() {

            },
            updateUser() {

            },
            delete() {

            },
            reset() {
                this.name = this.email = this.password = null
            },
            test() {
                console.log(this.title + ' is now mounted')
            }
        },
        mounted() {
            // this.test()
            // this.$store.dispatch('_TEST_ACTION')
            // this.$store.dispatch('_TEST_ACTION_GETTER')
            // console.log(this.$store.getters._testGetter + ' invoked directly from Vuex Getters')
            // console.log(this.$store.state)
            // console.log(this.$store.getters)
            // console.log(this.$store._actions)
            // console.log(this.$store._mutations)
            // console.log(123123123123, this.$store.state)
        }
    }
</script>

<style lang="scss">
    .home {
        background: #efefef;
    }
</style>
